body {
    background-color: hsl(221, 100%, 96%);
}

.quadro {
    border-radius: 20px;
    margin-top: 180px;
    height: 326px;
    width: 236px;
    font-family: "Hanken Grotesk";
}

.quadro.resultado {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    margin-left: 450px;
    margin-right: 600px;
    color: hsl(241, 100%, 89%);
}

.quadro.sumario {
    background-color: hsl(0, 0%, 100%);
    margin-left: 685px;
    margin-top: -325px;

}

.titulo-resultado {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
}

.valores-resultado {
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    height: 125px;
    width: 125px;
    margin-left: 57px;
}

.valor-resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    color: hsl(0, 0%, 100%);
    font-size: 40px;
    font-weight: 900;
}

.subvalor-resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.titulo-feedback {
    display: flex;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    margin-top: 10px;
    font-size: 20px;
}

.conteudo-feedback {
    height: 100px;
    padding: 25px;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 13px;
    text-align: center;
}

.titulo-sumario {
    background-color: hsl(0, 0%, 100%);
    height: 50px;
    font-size: 17px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    border-radius: 20px;
}

.itens-sumario {
    background-color: hsl(0, 0%, 100%);
    height: 180px;
    padding-top: 10px;
}

.valor-sumario {
    font-size: 12px;
    margin-left: 25px;
    margin-top: 3px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.destacado {
    color: hsl(224, 30%, 27%);
}

.valor-sumario.separado {
    margin-left: 38px;
}

.icone {
    height: 16px;
    width: 16px;
    margin-left: 10px;
    margin-top: 5px;
}

.item {
    display: inline-flex;
    width: 182px;
    height: 35px;
    margin-left: 25px;
    font-size: 12px;
    padding-top: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.item.reaction {
    background-color: hsla(0, 100%, 67%, 0.12);

}

.titulos-sumario {
    font-size: 14px;
    margin-left: 5px;
    margin-top: 4px;
}
.titulos-sumario.reaction {
    color: hsl(0, 100%, 67%);
}

.item.memory {
    background-color: hsla(39, 100%, 56%, 0.12);
}

.titulos-sumario.memory {
    color: hsl(39, 100%, 56%);
}

.item.verbal {
    background-color: hsla(166, 100%, 37%, 0.08);
}

.titulos-sumario.verbal {
    color: hsl(166, 100%, 37%);
}

.item.visual {
    background-color: hsla(241, 100%, 89%, 0.18);
}

.titulos-sumario.visual {
    color: hsl(234, 85%, 45%);
}


.botao {
    background-color: hsl(224, 30%, 27%);
    border: none;
    color: hsl(0, 0%, 100%);
    width: 186px;
    height: 40px;
    margin-left: 25px;
    border-radius: 22px;
    margin-top: 30px;
    font-family: "Hanken Grotesk";
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.botao:hover {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}